{% extends "base.html" %} {% block content %}
        <div class="container">
          <br/>
          <div class="row">
              <div class=" col s12 m12 l12">
                  <div class="card-panel white">
                      <form class="editar_usuario">
                          <div class="row">
                              <div class=" col offset-m2 offset-l3 s12 m12 l6">
                                  {% csrf_token %}
                                  <center> <p>Contacto</p></center>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12 m8 l12">
                                          <input id="id_name" name="name" type="text" value="{{nombres}}" required>   
                                          <label for="id_name">Nombre</label> 
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12 m8 l12">
                                      <input id="id_nacionalidad" name="Nacionalidad" type="text" value="{{Nacionalidades}}" required>  
                                      <label for="id_nacionalidad">Nacionalidad</label>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12 m8 l12">
                                          <input id="id_edad" name="edad" type="number" value="{{edades}}" required>
                                          <label for="id_edad">Edad</label> 
                                      </div>
                                  </div>
                                  <div class=" row">
                                      <div class="input-field col s12 m8 l12">
                                          <input id="id_direccion" name="direccion" type="text" value="{{direcciones}}">
                                          <label for="id_direccion">Direccion</label> 
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="input-field col s12 m8 l12">
                                          <input id="id_telefono" name="telefono" type="number" value="{{telefonos}}">
                                          <label for="id_telefono">Teléfono</label> 
                                      </div>
                                  </div>
                                  <input id="id_usuario" type="hidden" name="pk" value="{{usuario.pk}}">
                                  <center> 
                                      <button type="submit" class="btn btn-small green">Crear XML</button>
                                      <a href="/leer/{{usuario.pk}}" class ="btn btn-small green" >Leer datos</a>
                                  </center>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
{% endblock content %} {% block js %}
<script>
  $(document).ready(function(){
      $('.fechainiciopicker').datepicker(optionsDatepicker);
      $('.fechafinpicker').datepicker(optionsDatepicker);

      $(document).on ("submit",".editar_form_usuarios", function(e){
          e.preventDefault();
          var formData= $(this).serialize();
          console.log(formData);

          $.ajax({
              url: "/creacion",
              method: "POST",
              data: formData,
              success: function(data){
                  console.log(data);
                  location.reload();
              },
              error: function(data){
                  console.log("error")
              }
          });
      });
  });
</script>
{% endblock js %}